{% extends 'base.html' %}

{% block head_title %}
Edit tag
{% endblock %}

{% block title %}
<h1>
    Edit a tag
</h1>
{% endblock %}

{% block content %}
<form action="" method="POST">
    <div class="row">
        <label for="name-of-tag" class="col-1 col-form-label">Name:</label>
        <div class="col-3 d-flex flex-wrap">
            <input type="text" class="form-control" id="name-of-tag" value="{{ tag.name }}" placeholder="Enter a name for the tag" name="edited-tag-name">
            <div class="ms-auto mt-3">
                <a href="/tags/{{ tag.id }}"><button type="button" class="btn btn-outline-primary">Cancel</button></a>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}