{% extends 'base.html' %}

{% block head_title %}
    Edit page
{% endblock %}

{% block title %}
    <h1>Edit page for {{ user.first_name }}</h1>
{% endblock %}

{% block content %}
<form action="/users/{{ user.id }}/edit" method="POST">
    <div class="row mb-3">
        <div class="col-6">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name" name="first-name" value="{{ user.first_name }}">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="last-name" value="{{ user.last_name }}">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-10">
            <label for="image-url" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image-url" name="image-url" value="{{ user.image_url }}">
        </div>
    </div>
    <a href="/users/{{ user.id }}"><button class="btn btn-outline-info" type="button">Cancel</button></a>
    <button class="btn btn-success" type="submit"><a>Save</a></button>
</form>
{% endblock %}