{% extends 'base.html' %}

{% block head_title %}
    Detail for {{ user.first_name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <img src="{{ user.image_url }}" class="img-fluid img-thumbnail">
        </div>
        <div class="col">
            <div class="row">
                <div class="col-3">
                    <h1>
                        {{ user.first_name }} {{ user.last_name}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class='col-3'>
                    <form action="/users/{{ user.id }}/delete" method="POST">
                        <button class="btn btn-warning"><a href="/users/{{ user.id }}/edit">Edit</a></button>
                        <button class="btn btn-danger" type="submit"><a>Delete</a></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4">
                    <h2>Posts</h2>
                    <ul>
                        {% for post in posts %}
                            <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <form action="/users/{{ user.id }}/posts/new" method="GET">
                        <button class="btn btn-primary">Add Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
