{% extends 'base.html' %}

{% block head_title %}
    User Listing
{% endblock %}

{% block title %}
    <h1>Users</h1>
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item"><a href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></li>
        {% endfor %}
    </ul>
    <div class="row mt-3">
        <div class="col-2">
            <form display="inline" action="/users/new">
                <button class="btn btn-primary">Add user</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href="/tags"><h3>Tags</h3></a>
        </div>
    </div>
{% endblock %}